/* Colors:
    Dark Blue: #072E74
    Light Blue: #6DB9D5
    Light Tan: #FFF8D8
    Light Green: #17BC4E
*/

/* Start of Small General Styling -- This is for styling used across multiple pages */
html {
    background-color: #FFF8D8;
}

body {
    max-width: 100%;
}

header {
    background-color: #072E74;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin: auto;
    height: fit-content;
}

h2,
li,
p {
    color: #072E74;
}

h2 {
    font-size: 2rem;
}

.logoBox {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
}

.logoBox img {
    max-height: 100px;
}

ul {
    list-style-type: none;
    padding: 0rem;
}

button:hover,
.mainPageLI:hover,
.savedDataUL a:hover,
#mapIcon:hover,
.logoBox img:hover {
    transform: scale(1.05);
}

#headerNav li:hover {
    border-radius: 0.5rem;
    border: 1px solid #FFF8D8;
    padding: 0.2rem;
    transform: scale(1.05);
}

#headerNav li,
button,
.mainPageLI,
.savedDataUL a,
#mapIcon,
.logoBox img {
    transition: 0.4s ease;
}


header a,
.savedDataUL a {
    color: #FFF8D8;
    text-decoration: none;
}

/* Start of Hamburger Button Styling */

#hamburgerBtn {
    font-size: 2rem;
    box-shadow: none;
    width: 100%;
    border-bottom: 3px solid #FFF8D8;
    border-radius: 0px;
}

#hamburgerBtn.open {
    margin-bottom: 0rem;
}

#headerNav.open li {
    width: 99%;
    padding-bottom: 1.5rem;
    border-bottom: 3px solid #FFF8D8;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
    padding: 0.3rem;
    border-radius:0.5rem;
}

#headerNav.open {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}


#headerNav {
    display: none;
    margin: 0px;
    padding-top: 1rem;
}

nav {
    width: 100%;
    background-color: #17bc4e;
    text-align: center;
}
/* End of Hamburger Button Styling */

a:active {
    color: #FFF8D8
}

li {
    font-size: 1.25rem;
}

.contentUL,
.contentBox,
.mainPageUL {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.contentMain {
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    align-items: center;
}

.contentBox p {
    margin-top: 0px;
}

.titleBox {
    width: 90%;
    text-align: center;
    margin-top: 1rem;
}

.titleBox h2 {
    margin: 3rem auto 2rem auto;
}

hr {
    margin-top: 2rem;
    border: 1px solid #072E74;
}

button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #17bc4e;
    color: #FFF8D8;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.saveDataBtn {
    margin-bottom: 2rem;
}

li p {
    margin: auto;
    color: #FFF8D8;
}

legend,
.noData {
    font-size: 1.25rem;
    color: #072E74;
}

.apiCredit {
    color: #072E74;
    text-decoration: underline;
}

/* End of Small General Styling */

/* Start of Small Home Page Styling */
/* This makes the nav bar always gone on the home page */
#main-page header nav {
    display: none;
}

.mainPageUL {
    margin: 2rem;
    gap: 1rem;
}

.mainPageUL a {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    text-decoration: none;
}

.mainPageLI {
    display: flex;
    gap: 0.5rem;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
    background-color: #17bc4e;
}

.mainPageLI img {
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
}

/* End of Small Home Page Styling */

/* Small Current Location Page Styling */
#mapIcon {
    width: 175px;
}

/* Small Real Time Location Page Styling */
#compassIcon {
    width: 250px;
}

/* Small Weather Page Styling */
#weatherImg {
    width: 150px;
}

/* Start of Small Saved Data Page Styling */
.savedDataBox {
    width: 80%;
    text-align: center;
}

.savedDataUL {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.savedDataUL a {
    border: 1px solid #128a3a;
    border-radius: 0.25rem;
    padding: 0.75rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    background-color: #17bc4e;
}

.savedDataUL a li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.savedDataUL a li p {
    color: #FFF8D8;
    margin: 0px;
}

.savedDataMain .savedDataBox:last-child {
    margin-bottom: 2rem;
}
/* End of Small Saved Data Page Styling */
/* End of Small View Styling */


/* Start of Large View Styling */
@media only screen and (min-width: 715px) {
/* Start of Large General Styling */
    header,
    .logoBox {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

    .contentBox {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #hamburgerBtn {
        display: none;
    }

    #headerNav {
        display: flex;
        flex-direction: row;
        background-color: #072E74;
        gap: 1rem;
        border-left: 1px solid #FFF8D8;
        padding: 2rem 1rem;
    }

    #headerNav li {
        display: flex;
        align-items: center;
        /* padding: 0.5rem 1rem 1rem 0rem;
        border-right: 1px solid #FFF8D8; */
    }
/* End of Large General Styling */

/* Large Home Page Styling */

    .mainPageUL {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        justify-items: center;
        column-gap: 3rem;
        padding: 1rem;
    }

/* Large Weather Page Styling */
    #weatherBox2 {
        margin-top: 9rem;
    }

/* Large Saved Data Page Styling */
    .savedDataUL {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .savedDataUL p {
        grid-column: 1 / -1;
    }
}
/* End of Large View Styling */